<section class="phx-hero">
  <h1>Welcome to Labels App!</h1>
  <p>To get started, login to your GitHub Account:</p>
  <a href={@oauth_github_url}>
    <img src="/images/auth_github.png" alt="Sign in with GitHub" />
  </a>
</section>
