<section class="phx-hero">
  <h1>Welcome to Labels App!</h1>
  <p>To get started, login to your GitHub Account: </p>
  <a href={@oauth_github_url} >
    <img src="https://i.imgur.com/qwoHBIZ.png" alt="Sign in with GitHub" />
  </a>
</section>

