<section class="phx-hero">
  <h1> Welcome <%= @profile.name %>!
  <img width="32px" src={@profile.avatar_url} />
  </h1>
  <p> You are <strong>signed in</strong>
    with your <strong>GitHub Account</strong> <br />
    <strong style="color:teal;"><%= @profile.email %></strong>
  </p>
</section>
