<!DOCTYPE html>
<div class="wrapper">
  <div class="container">
    <h2>Sync Successful!</h2>
    <div>
      <img class="success-icon" src="https://cloud.githubusercontent.com/assets/12450298/19214599/8150343c-8d7f-11e6-8afb-b67eee2b4854.png" />
    </div>
    <a class="link" href="https://github.com/{{targetOwner}}/{{targetRepo}}/labels">
      <div class="button">View Labels</div>
    </a>
    <a class="link" href="/">
      <div class="button">Sync Labels Again</div>
    </a>
    <a class="logout-button" href="/logout">Log Out</a>
  </div>
</div>
