<!DOCTYPE html>
<div class="wrapper">
  <div class="container">
    <h2>Sync Your Labels.</h2>
    <form action="/" method="POST">
      <h3>Source repo</h3>
      <div class="copy">Copy labels from:</div>
      <input
        class="input"
        type="text"
        name="sourceOwner"
        placeholder="Repository Owner"
        {{#if sourceOwner}}
          value={{sourceOwner}}
        {{/if}}
      />
      <br/>
      <input
        class="input"
        type="text"
        name="sourceRepo"
        placeholder="Repository Name"
        {{#if sourceRepo}}
          value={{sourceRepo}}
        {{/if}}
      />
      <br/>
      <h3>Target repo</h3>
      <div class="copy">Copy labels to:</div>
      <input
        class="input"
        type="text"
        name="targetOwner"
        placeholder="Repository Owner"
        {{#if targetOwner}}
          value={{targetOwner}}
        {{/if}}
      />
      <br />
      <input
        class="input"
        type="text"
        name="targetRepo"
        placeholder="Repository Name"
        {{#if targetRepo}}
          value={{targetRepo}}
        {{/if}}
      />
      <br />
      <input class="button sync-button" type="submit" value="SYNCHRONISE" />
    </form>
    <br/>
    <a class="logout-button" href="/logout">Log Out</a>
  </div>
</div>
